// Import page-specific CSS files here.
@import "home";

body {
  background-color:#ecf4f4;
  font-family: 'ROboto', sans-serif;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}


.card-img {
  border-radius: 10px;
  filter: contrast(90%);
}

.card-img:hover {
  filter: contrast(100%);
}

a {
  text-decoration: none;
  color: black;
}
