// Import page-specific CSS files here.
@import "home";

body {
  background-color:#ecf4f4;
  font-family: 'ROboto', sans-serif;
}

@media (min-width: 500px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 700px) {
  .cards { grid-template-columns: repeat(3, 1fr); }
}

@media (min-width: 900px) {
  .cards { grid-template-columns: repeat(4, 1fr); }
}

.cards {
  display: grid;
  // grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.card-img {
  border-radius: 10px;
  filter: contrast(90%);
    width:  100px;
    height: 100px;
    object-fit: cover;
}

.card-img:hover {
  filter: contrast(100%);
}

a {
  text-decoration: none;
  color: black;
}

.rating {
  display:inline-block;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.container-buttons-index {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  padding: 4px;
  padding-top: 40px;
}
