.carousel {
  border: dotted 2px rgb(17, 0, 255);
  padding: 20px;
}

.container-carousel {
  justify-content: center;
}

#myCarousel {
  display: flex;
  justify-content: center;
}

#carouselExample {
  border: none;
}

.container-information {
  border: dotted 2px rgb(0, 255, 4);
  padding: 20px;
}

.container-buttons {
  border: dotted 2px rgb(255, 0, 144);
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  padding: 10px;
}

.container-map{
  border: solid 2px rgb(27, 12, 238);
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
}

.container-reviews{
  border: solid 2px rgb(4, 124, 135);
  padding: 20px;
}

.container-review-scores {
  display: flex;
  border-bottom: 1px solid grey;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

.review {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  background-color: white;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
}

.review p {
  margin:5px;
}

.container-review-button {
  display: flex;
  justify-content: center;
}

