<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-4">

      <div class="form-login">
        <h2>Booking</h2>
        <h2>What dates would you like to stay?</h2>
        <%= render "form", flat: @flat, booking: @booking %>
      </div>

    </div>
  </div>
</div>
