<h1>Booking</h1>

<h3>What dates would you like to stay?</h3>

<%= render "form", flat: @flat, booking: @booking %>

<h3> Price </h3>

<%# (end_date - start_date).to_i
<% @total_days = (departure-arrival).to_i %>
<%# <%= @total_days %>
