<h1>Booking</h1>

<h3>What dates would you like to stay?</h3>

<%= simple_form_for @booking do |f| %>
    <%= f.input :arrival, as: :date,
    input_html: { data: { controller: "flatpickr" } } %>
    <%= f.input :departure, as: :date,
    input_html: { data: { controller: "flatpickr" } } %>
    <%= f.button :submit %>
<% end %>
