<div class="container">
  <h1>My Bookings</h1>

  <div>
    <% @requested_bookings.each do |booking| %>
      <p> <strong>User: </strong><%= booking.user_id  %></p>
      <p><strong>Arrival: </strong><%= booking.arrival  %></p>
      <p><strong>Departure: </strong><%= booking.departure  %></p>
      <p><strong>Nights: </strong></p>
      <% if booking.status == true %>
        <p>Confirmed</p>
      <% else %>
      <p>Not yet Confirmed</p>
      <% end %>
    <% end %>
  </div>

</div>
