// Back Button
.btn-back {
  border: 1px solid black;
  background-color:#335c67;
  border-radius: 3px;
  color: white;
  a {
    color: white;
  }
}

.btn-back:hover {
  background-color: #335c67;
  color: white;
  border: 1px solid rgb(249, 249, 249);
  border-radius: 3px;
  a {
    color: white;
  }
}

// Book the property & Add a Review

.btn-reserve {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 8px;
  padding: 14px 24px;
  border: none;
  transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
  background: linear-gradient(90deg, rgba(180,47,48,1) 0%, rgba(158,42,43,1) 35%, rgba(131,35,36,1) 100%);
  color: #fff;
}

.btn-reserve:hover {
  color: #cec8c8;
}


// Delete property button
.btn-delete {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  border: none;
  transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
  background: linear-gradient(90deg, rgba(180,47,48,1) 0%, rgba(158,42,43,1) 35%, rgba(131,35,36,1) 100%);
  color: #fff;
  border-radius: 8px;
}

.btn-delete:hover {
  background-color: rgb(204, 4, 4);
}
