.navbar-lewagon {
  justify-content: space-between;
  background: hsl(0, 0%, 100%);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color:#335c67;
  font-weight: bold;
}

.container-fluid {
  border-bottom: 1px solid #767676;
}

.navbar-expand-sm {
  padding: 0px;
}
