h1 {
  color: green;
}

.account-details {
  border: 1px solid grey;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  p {
    padding-top: 5px;
    margin-bottom: 5px;
  }
}

.card-category {
  height: 200px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#container-body {
  padding: 20px;
  margin-top: 20px;
  background-color: whitesmoke;
}
